{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}GeoITS Development{% endblock %}

{% block map %}

<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing,geometry"></script>
<script src="{% static 'js/gmap.js' %}"></script>

<body style="height: 50px;">
    <!--Google Maps APIv3 Background-->
    <div action="" method="POST"> {%csrf_token%}
        <div id="map_canvas"></div>
    </div>
    <div id="result"></div>

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>Issue</h3>
        <textarea id="wiki" rows="18" cols="70"></textarea>
        <input class="btn btn-success" id="submit" type="button" value="Submit" name="csrfmiddlewaretoken"></input>
    </nav>
    <div class="navbar-form navbar-right" id="button">
        <button class="btn btn-success" id="showLeft">Save</button>
    </div>
    <script>
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeft = document.getElementById( 'showLeft' ),
            body = document.body;

        showLeft.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
        };
    </script>
    <script>
     $(document).ready(function() {
        var polyArray = []
        $("input").click(function() {
            $.ajax({
                url: "test/",
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: {
                    geom : wkt,
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("Messaging failed: " + errorThrown);
                },
                success: function(data) {
                    $('#result').append('ServerResponse:' + data.server_response)
                }
            });
        });
         initialize();
         $.ajax({
             url: "load_polygons/",
             dataType: 'json',
             type: 'GET',
             success: function(data, status, jqXHR){
                 $.each(data, function(i, polygon){
                     var coords = [];
                     $.each(polygon.geom, function(i,points){
                         $.each(points, function(i, point){
                             coords.push({lat: point[1], lng: point[0]})
                         })
                     })
                    var poly = new google.maps.Polygon({
                        paths: coords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });
                    var polygonStore = [];
                    polygonStore['id'] = polygon.id;
                    polygonStore['obj'] = poly;
                    poly.indexID = polygon.id;
                    polyArray.push(polygonStore);
                    google.maps.event.addListener(poly, 'click', function (event) {
                        alert(this.indexID);
                    });
                    poly.setMap(map);
                 })
             }
         });
     })
    </script>
</body>

{% endblock %}
