{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}GeoITS Development{% endblock %}

{% block map %}

<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing,geometry"></script>
<script src="{% static 'js/gmap.js' %}"></script>

<body style="height: 50px;">
    <!--Google Maps APIv3 Background-->
    <div action="" method="POST"> {%csrf_token%}
        <div id="map_canvas"></div>
    </div>
    <div id="result"></div>

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>Issue</h3>
        <div class="form-group" style="margin: 5px">

            <textarea class="form-control" id="title" style="height: 40px; resize: none;" placeholder="Title"></textarea>

            <textarea class="form-control" id="raw" style="height: 300px; resize: none;" placeholder="Raw"></textarea>

            <textarea class="form-control" id="message" style="height: 40px; resize: none;" placeholder="Message e.x. Update MyPoly.rst"></textarea>

            <input class="btn btn-primary" id="submit" type="button" value="Submit" name="csrfmiddlewaretoken"></input>

        </div>
    </nav>
    <div class="navbar-form navbar-right" id="button">
        <button class="btn btn-success" id="showLeft">Save</button>
    </div>

    <script>
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeft = document.getElementById( 'showLeft' ),
            body = document.body;
        showLeft.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
         };
    </script>
    <script>
     $(document).ready(function() {
         var polyArray = [];
         $("#submit").click(function() {
            var w_title = $('#title').val();
            var w_raw = $('#raw').val();
            var w_message = $('#message').val();
             $.ajax({
                 url: "test/",
                 type: 'POST',
                 cache: false,
                 dataType: 'json',
                 data: {
                     geom: wkt,
                     title: w_title,
                     raw: w_raw,
                     message: w_message,
                     markup: "Markdown",
                     csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                 },
                 error: function(jqXHR, textStatus, errorThrown) {
                     alert("Messaging failed: " + errorThrown);
                 },
                 success: function(data) {
                     var dataid = data.id;
                 }
             });
         });
         initialize();
         $.ajax({
             url: "load_polygons/",
             dataType: 'json',
             type: 'GET',
             success: function(data, status, jqXHR){
                 $.each(data, function(i, polygon){
                     var coords = [];
                     $.each(polygon.geom, function(i,points){
                         $.each(points, function(i, point){
                             coords.push({lat: point[1], lng: point[0]})
                         })
                     })
                    var poly = new google.maps.Polygon({
                        paths: coords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });

                     var polygonStore = [];
                     polygonStore['id'] = polygon.id;
                     polygonStore['obj'] = poly;
                     poly.indexID = polygon.id;
                     polyArray.push(polygonStore);
                     google.maps.event.addListener(poly, 'click', function (event) {
                         console.log(this.indexID);
                         var id = this.indexID;
                          $.ajax({
                              url: "get_wiki/",
                              dataType: 'json',
                              type: 'GET',
                              success: function(data, status, jqXHR){
                                    $("#message").val("");
                                    $("#title").val(data[id].title);
                                    $("#raw").val(data[id].raw);
                              }
                         });
                         var menuLeft = document.getElementById( 'cbp-spmenu-s1' );
                         if(!$('#cbp-spmenu-s1').hasClass('cbp-spmenu-open')){
                             classie.toggle( menuLeft, 'cbp-spmenu-open' );
                         }
                     });
                     poly.setMap(map);
                 })
             }
         });
     });
    </script>
</body>

{% endblock %}
