{% extends "base.html" %}
{% load i18n %}
{% block head_title %}GeoITS Development{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Geo Issue Tracking System</h1>
    <p>Develop a system that enables us to track issues with our products.</br>
    First idea is to combine a wiki with a map on which users can draw their problem areas.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">GitHub &raquo;</a></p>
  </div>
</div>

<div class="container">

  <footer>
    <p>&copy; TUWien 2015</p>
  </footer>
</div>
{% endblock %}